<div class="home_body">
    <h1 class="body_disc logo home_logo">
        Flights App
    </h1>
    <p class="disc_text">
        Flights booking wizard
    </p>
    <p class="disc_text">
        Easy, fast and simple
    </p>
    <div class="home_buttons">
        <button class="home_button">
            Offers
        </button>
        <div class="home_button search_button">
            <input type="text" placeholder="search" class="search_bar">
            <button class="search_icon"></button>
        </div>
        <button class="home_button">
            Filter
        </button>
    </div>
</div>