<!DOCTYPE html>
<html lang="en">
<body  >

    <div class="home_body" id="blur">
        <h1 class="body_disc logo home_logo">
            Flights App
        </h1>
        <p class="disc_text">
            Flights booking wizard
        </p>
        <p class="disc_text">
            Easy, fast and simple
        </p>
        <div class="home_buttons">
            <a href="@Url.Action("","Offers")">
                <button class="home_button">
                    Offers
                </button>
            </a>
            <a>
                <button class="home_button">
                    Search
                </button>
            </a>
            <a>
                <button class="home_button">
                    Filter
                </button>
            </a>
        </div>
    </div>
    <div class="footer">
        <p style="width:70%; margin-left:15%;">
            It sportsman earnestly ye preserved an on. Moment led family sooner cannot her window pulled any. Or raillery if improved landlord to speaking hastened differed he. Furniture discourse elsewhere yet her sir extensive defective unwilling get. Why resolution one motionless you him thoroughly. Noise is round to in it quick timed doors. Written address greatly get attacks inhabit pursuit our but. Lasted hunted enough an up seeing in lively letter. Had judgment out opinions property the supplied.

            Still court no small think death so an wrote. Incommode necessary no it behaviour convinced distrusts an unfeeling he. Could death since do we hoped is in. Exquisite no my attention extensive. The determine conveying moonlight age. Avoid for see marry sorry child. Sitting so totally forbade hundred to.

        </p>
    </div>

</body>

</html>