.footer {
    padding-top:2rem;
    height: 100vh;
    max-height: calc(100vh - 30rem);
    width: 100vw;
    max-width: 100%;
    background-color: white;
    z-index: 4;
    top: 100vh;
    position: absolute;
    text-align:center;
    box-shadow: 0 0 2rem -.25rem black;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 0%, rgba(239,230,255,1) 0%, rgba(255,244,220,1) 26%, rgba(255,239,204,1) 66%, rgba(247,212,208,1) 100%, rgba(241,209,255,1) 100%, rgba(200,117,255,1) 100%, rgba(234,202,255,1) 100%);
}
