body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}
body:hover{
    cursor:default
}

a {
    text-decoration: none;
}

b {
    text-shadow: 0 0 .2rem rgb(92, 0, 116,.5);
}

.blur {
    filter: blur(2px) brightness(75%);
    transition: .4s;
}

.headerc {
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: 4.5rem;
    background-color: rgb(54, 35, 161);
}

.header_logo {
    font-size: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 4.5rem;
    margin-left: 1rem;
    color: rgb(229, 197, 255);
}

.header_username {
    font-family: 'Century Gothic';
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 4.5rem;
    margin-left: 76%;
    color: rgb(229, 197, 255);
}

    .header_logo:hover {
        cursor:pointer;
    }

.home_logo {
    color: rgba(70, 0, 128, 0.568);
    font-size: 4rem;
}

.logo {
    font-family: 'Century Gothic', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header_buttons_container {
    height: 100%;
    width: 10rem;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header_button {
    font-family: 'Century Gothic';
    border: 0;
    background-color: rgb(246, 181, 255);
    border-radius: 1rem;
    height: 2rem;
    width: 4rem;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.534);
    transition: .4s;
}

    .header_button:hover {
        background-color: rgb(243, 152, 255);
        box-shadow: 0 0 .8rem 0 rgba(0, 0, 0, 0.747);
        transition: .4s;
    }

.home_button {
    margin: 1.5rem;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    width: 7rem;
    height: 4rem;
    border-width: 0;
    border-radius: .2rem;
    background-color: rgb(255, 232, 223);
    box-shadow: .5rem .5rem .5rem 0 rgba(93, 70, 94, 0.4);
    transition: .3s;
}

    .home_button:hover {
        box-shadow: .7rem .7rem .5rem 0 rgba(93, 70, 94, 0.7);
        background-color: rgb(255, 211, 194);
        transition: .3s;
    }

.disc_text {
    font-family: 'Century Gothic';
    margin-top: 0;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 .2rem rgb(94, 0, 0);
}

.search_bar {
    margin-left: 1em;
    width: calc(100% - 4rem);
    border-top: 0;
    border-left: 0;
    border-color: black;
    border-right: 0;
    background: 0;
}

    .search_bar:focus {
        outline: none;
    }

.search_button {
    font-family: 'Century Gothic';
    height: 3rem;
    width: 25%;
    transition: .4s;
}

    .search_button:hover {
        width: 50%;
        transition: .4s;
    }

.search_icon {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    background: url("../images/searchico.svg") no-repeat;
    background-size: contain;
    width: 2rem;
    height: 60%;
    position: relative;
    top: 20%;
}

.home_buttons {
    margin-top: 2rem;
    width: 70%;
    min-width: 28rem;
    max-width: 70rem;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.body_disc {
    margin-top: 3rem;
}

.home_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 4.5rem;
    margin: 0;
    padding: 0;
    height: calc(100vh - 4.5rem);
    width: 100vw;
    max-width: 100%;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.close_button {
    position: absolute;
    top: -2.5rem;
    right: calc(50% - 1rem );
    height: 2rem;
    width: 2rem;
    z-index: 5;
    background-color: rgba(255, 228, 196, 0);
    background-image: url("../images/closeico.png");
    background-size: contain;
    border: 0;
}

.input_txt {
    background-color: rgb(255, 255, 255);
    border-color: rgb(154, 141, 158);
    outline: 0;
    box-shadow: 0 0 .5rem -.1rem black;
    border-style: solid;
    width: 80%;
    border-radius: .5rem;
    line-height: 1.5rem;
    font-size: .9rem;
    padding-left: .5rem;
    transition: .4s;
}

    .input_txt:invalid {
        border-color: red;
        box-shadow: 0 0 .5rem -.1rem red;
        transition: .4s;
    }

.input_container {
    width: 100%;
}

.window_button {
    margin: 1rem 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    width: 4rem;
    min-width: fit-content;
    height: 2rem;
    font-size: 1rem;
    color: aliceblue;
    background-color: rgb(125, 45, 255);
    box-shadow: 0 0 1rem -.5rem black;
    transition: .4s;
}

    .window_button:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(149, 82, 255);
        box-shadow: .5rem .5rem 1rem -.5rem black;
        transition: .4s;
    }
