
.big-box {
    position: absolute;
    top: calc(50% + 4.5rem);
    left: 50%;
    height: 90%;
    width: 70%;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem -0.5rem;
    z-index: 3;
    padding-left: 2rem;
    transform: translateX(-50%) translateY(-64%);
    background-color: rgba(255, 255, 255, 0.829);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 1rem;
    line-height: .8rem;
    transition: .4s;
}

.box-title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.offers-list {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    max-height: 83%;
    width: 95%;
    background: rgb(109,0,116);
    background: linear-gradient(270deg, rgba(109,0,116,0) 0%, rgba(104,33,131,1) 50%, rgba(104,33,131,0) 100%);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
}

.offers-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-x: unset;
    gap: 1rem;
    padding: 1rem;
    height: fit-content;
    width: 100%;
    max-width:100%;
    margin-bottom: 2px;
}
.offers-Item-box{
    width:fit-content;
    max-width:max-content;
}

.offers-list-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-x: unset;
    gap: 1rem;
    padding: 1rem;
    height: fit-content;
    width: 100%;
    max-width: calc(100% - 2rem);
    margin-bottom: 2px;
}

    .offers-list-item:hover {
        background-color: #acacac;
    }

.offers-list-item-prop {
    width: 30%;
}

.list-button {
    transition: .4s;
    position: absolute;
    top: 50%;
    right: 2rem;
    margin: 0;
    background: rgb(239,0,255);
    background: linear-gradient(270deg, rgba(239,0,255,0.13769257703081228) 0%, rgba(188,15,255,0) 50%);
    border-color: white;
    border-radius: 100%;
    border-width: 0;
    border-right-width: 2px;
    padding: 0;
    height: 100%;
    width: 2rem;
    transform: translateY(-50%);
    box-shadow: 15px 1px 20px -12px #9C9C9C;
}

    .list-button:hover {
        transition: .4s;
        cursor: pointer;
        background: rgb(109,0,116);
        background: linear-gradient(270deg, rgba(109,0,116,0.29175420168067223) 0%, rgba(188,15,255,0) 50%);
    }

.list-button-txt {
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Century Gothic';
    color: rgb(109,0,116);
    width: 6rem;
    display: inline-block;
    margin-left: -2.2rem;
    transform: rotate(90deg);
}

::-webkit-scrollbar {
    width: 10px;
    padding-right: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #cecece;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    position: inherit;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
