@{
    ViewData["Title"] = "Error";
}

<div class="home_body" id="blur">
    <h1 class="body_disc logo home_logo" style="color:red">
        Error.
    </h1>
    <p class="disc_text">
        An error occurred while processing your request.
    </p>
    <div class="home_buttons">
        <a href="@Url.Action("","Home")">
            <button class="home_button" style="width:auto">
                Go To Home
            </button>
        </a>
    </div>
</div>
