<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/footer.css">

</head>

<body>
    <div class="headerc">
        <div class="logo header_logo">
            <strong>Flights App</strong>
        </div>
        <div class="header_buttons_container">
            @{
                if (true)
                {
                    <button class="header_button" onclick="Vlogin()">
                        login
                    </button>
                    <button class="header_button" onclick="Vsignup()">
                        sign up
                    </button>
                }
                else
                {
                    <button class="header_button">
                        logout
                    </button>
                }
            }
        </div>
    </div>

    <div id="login" class="regbox">
        <button class="close_button" onclick="unVlogin()"></button>
        <div class="input_container">
            <p>Email Address:</p>
            <input type="email" placeholder="Email Address" class="input_txt">
        </div>
        <div class="input_container">
            <p>Password:</p>
            <input type="password" placeholder="Password" class="input_txt">
        </div>
        <button class="window_button">
            login
        </button>
    </div>
    <div id="signup" class="regbox">
        <button class="close_button" onclick="unVsignup()"></button>
        <div class="input_container">
            <p>First Name:</p>
            <input type="text" placeholder="First Name" class="input_txt">
        </div>
        <div class="input_container">
            <p>Last Name:</p>
            <input type="text" placeholder="Last Name" class="input_txt">
        </div>
        <div class="input_container">
            <p>Email Address:</p>
            <input type="email" placeholder="Email Address" class="input_txt">
        </div>
        <div class="input_container">
            <p>Password:</p>
            <input type="password" placeholder="Password" class="input_txt">
        </div>
        <button class="window_button">
            sign up
        </button>
    </div>


    <div id="blur">
        @RenderBody();
    </div>

    <script src="./js/layout.js"></script>

</body>