@using flights.DTOs
@model UserDto
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/offers.css">

</head>

<body>
    <div class="headerc">
        <a href="@Url.Action("","Home")">
            <div class="logo header_logo">
                <strong>Flights App</strong>
            </div>
        </a>
        <div class="header_buttons_container">
            @{
                if (true)
                {
                    <button class="header_button" data-viewid="login" onclick="VActionWindow()">
                        login
                    </button>
                    <button class="header_button" data-viewid="signup" onclick="VActionWindow()">
                        sign up
                    </button>
                }
                else
                {
                    <button class="header_button">
                        logout
                    </button>
                }
            }
        </div>
    </div>

    <main role="main">
        <form asp-controller="Home" asp-action="Login" method="POST">
            <div id="login" name="window" class="regbox">
                <button class="close_button" onclick="unVActionWindow()" asp-action=""></button>
                <div class="input_container">
                    <p>Email Address:</p>
                    <input type="email" placeholder="Email Address" class="input_txt" asp-for="Email">
                </div>
                <div class="input_container">
                    <p>Password:</p>
                    <input type="password" placeholder="Password" class="input_txt" asp-for="Password">
                </div>
                <button class="window_button">
                    login
                </button>
            </div>
        </form>
        <form asp-controller="Home" asp-action="Signup" method="POST" onchange="return verifyPassword()">
            <div id="signup" name="window" class="regbox">
                <button class="close_button" onclick="unVActionWindow()" asp-action=""></button>
                <div class="input_container">
                    <p>First Name:</p>
                    <input type="text" placeholder="First Name" class="input_txt" asp-for="Fname">
                </div>
                <div class="input_container">
                    <p>Last Name:</p>
                    <input type="text" placeholder="Last Name" class="input_txt" asp-for="Lname">
                </div>
                <div class="input_container">
                    <p>Email Address:</p>
                    <input type="email" placeholder="Email Address" class="input_txt" asp-for="Email">
                </div>
                <div class="input_container">
                    <p>Password:</p>
                    <input type="password" placeholder="Password" class="input_txt" id="pwd" asp-for="Password">
                </div>
                <div class="input_container">
                    <p>Confirmation Password:</p>
                    <p><input type="password" placeholder="Password" class="input_txt" id="repwd" asp-for="Password"></p>
                    <span id="message" style="position:absolute; margin-top:-.7rem; color:red;font-size:12px"> </span>
                </div>
                <button class="window_button" id="btn">
                    sign up
                </button>
            </div>
        </form>
        @RenderBody()
    </main>
    
    <script src="./js/layout.js"></script>

</body>
</html>